<mat-card>
    <mat-card-header>
        <mat-card-title>My Library</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="alert alert-danger p-2 mt-2" *ngIf="books.length === 0">
            Library has no books! Click on <b>+</b> to add a new book
        </div>
        <div class="row row-cols-2 row-cols-md-4" *ngIf="books.length > 0">
            <div class="col" *ngFor="let book of books">
                <div class="card h-100 border-dark" style="background-color: #f2eecb;">
                    <div class="d-flex justify-content-between mx-2 mt-2 header">
                        <h5>{{book.bookTitle}}</h5>
                        <small class="text-category mt-1">{{book.bookCategory|titlecase}}</small>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{book.bookDescription}}</p>
                        <mat-progress-bar 
                            mode="determinate" 
                            [value]="book.bookStatus" 
                            [matTooltip]="book.bookStatus.toString()+'%'"
                            matTooltipPosition="above">
                        </mat-progress-bar>
                        <div class="d-flex flex-column">
                            <div>Total Chapters: {{book.chapters.length}}</div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <small class="text-muted">Writte by @{{book.bookAuthor}}</small>
                        <button mat-button type="button" color="primary">EDIT</button>
                        <button mat-button type="button" color="warn" (click)="onDelete(book.bookId)">DELETE</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>