<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card mat-elevation-z8" [routerLink]="['history']">
            <img src="/assets/history-wallpaper.jpg" class="card-img" alt="History">
            <div class="card-img-overlay overlay-blue-gradient d-flex justify-content-center align-items-end mb-2">
                <p class="fw-bold" style="color: cornsilk;">History</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">We are what we are bcoz we were...</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mat-elevation-z8" [routerLink]="['geography']">
            <img src="/assets/geography-wallpaper.jpg" class="card-img" alt="Geography">
            <div class="card-img-overlay overlay-blue-gradient d-flex justify-content-center align-items-end mb-2">
                <p class="fw-bold" style="color: cornsilk;">Geography</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Where is where & which is which?</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mat-elevation-z8 mt-1" [routerLink]="['library']">
            <img src="/assets/library-wallpaper.jpg" class="card-img" alt="Library">
            <div class="card-img-overlay overlay-blue-gradient d-flex justify-content-center align-items-end mb-2">
                <p class="fw-bold" style="color: cornsilk;">Library</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Reach out for that top drawer! Quite literally...</small>
            </div>
        </div>
    </div>
</div>