<form [formGroup]="bookForm" (ngSubmit)="saveBookToLibrary()" *ngIf="!isLoading">
    <mat-card>
        <mat-card-content>
            <!-- Basic Information -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <mat-form-field floatLabel="always">
                        <mat-label>Category <span class="mandatory">*</span></mat-label>
                        <mat-select formControlName="bookCategory" (selectionChange)="onCategorySelect($event)" [(value)]="formValues.bookCategory">
                            <mat-option>None</mat-option>
                            <mat-option value="entrepreneurship">Entrepreneurship</mat-option>
                            <mat-option value="finance">Finance</mat-option>
                            <mat-option value="devotion">Devotion</mat-option>
                        </mat-select>
                        <mat-error>This is a mandatory field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-6">
                    <mat-form-field floatLabel="always">
                        <mat-label>Title <span class="mandatory">*</span></mat-label>
                        <input matInput type="text" formControlName="bookTitle" autocomplete="off">
                        <mat-icon matSuffix>library_books</mat-icon>
                        <mat-error>This is a mandatory field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-6">
                    <mat-form-field floatLabel="always">
                        <mat-label>Author <span class="mandatory">*</span></mat-label>
                        <input matInput type="text" formControlName="bookAuthor" autocomplete="off">
                        <mat-icon matSuffix>person_outline</mat-icon>
                        <mat-error>This is a mandatory field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-6">
                    <mat-form-field floatLabel="always" *ngIf="!isCategoryDevotion">
                        <mat-label>Timeline <span class="mandatory">*</span></mat-label>
                        <input matInput formControlName="bookTimeline" [matDatepicker]="datePicker">
                        <mat-datepicker-toggle matSuffix [for]="datePicker" style="font-size: 20px;">
                        </mat-datepicker-toggle>
                        <mat-datepicker #datePicker color="primary"></mat-datepicker>
                        <mat-error>This is a mandatory field</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" *ngIf="isCategoryDevotion">
                        <mat-label>Timeline <span class="mandatory">*</span></mat-label>
                        <mat-select formControlName="bookTimeline" autocomplete="off">
                            <mat-option *ngFor="let timeline of oldTimelines" [value]="timeline">
                                {{timeline}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is a mandatory field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- Description, Image -->
            <div class="row">
                <div class="col-lg-6 col-6">
                    <mat-form-field floatLabel="always" style="width: 100%;">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="bookDescription" rows="1">
                            </textarea>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-6">
                    <mat-form-field floatLabel="always">
                        <mat-label>Image</mat-label>
                        <input matInput formControlName="bookImage" type="text" autocomplete="off">
                        <mat-icon matSuffix>add_a_photo</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-12">
                    <mat-slider 
                        formControlName="bookStatus" 
                        color="primary" 
                        step="10" 
                        thumbLabel="true" 
                        style="width: 90%;"
                        tickInterval=10>
                    </mat-slider>
                </div>
            </div>
            <mat-accordion>
                <!-- Chapters -->
                <mat-expansion-panel hideToggle expanded (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
                    <mat-expansion-panel-header class="d-flex justify-content-between">
                        <mat-panel-title class="d-flex align-items-center">
                            Click to {{isPanelOpen ? 'close' : 'open'}} chapters
                        </mat-panel-title>
                        <div class="d-flex flex-row-reverse">
                            <button mat-icon-button type="button" (click)="openChapterAddModal($event)"
                                matTooltip="Add Chapter">
                                <mat-icon>playlist_add</mat-icon>
                            </button>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="alert alert-danger fw-bold p-2" role="alert" *ngIf="chapters.length === 0">
                        This book does not have any chapters yet!
                    </div>
                    <div class="wrapper" *ngIf="chapters.length > 0">
                        <ul class="list-group" formArrayName="chapters">
                            <li class="list-group-item list-group-item-action d-flex justify-content-between"
                                *ngFor="let chapter of chapters; let i = index" [formGroupName]="i">
                                <div class="chapter-name">{{chapter.value.chapterName}}</div>
                                <div class="d-flex">
                                    <mat-icon (click)="deleteChapter(i)" color="warn" matTooltip="Delete Chapter">
                                        delete
                                    </mat-icon>
                                    <mat-icon (click)="openChapterEditModal(chapter, i)" matTooltip="Edit Chapter"
                                        style="color: forestgreen;">rate_review
                                    </mat-icon>
                                </div>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center">
            <button mat-raised-button type="submit" color="warn" [disabled]="bookForm.invalid">
                {{isEditMode ? 'Update' : 'Add'}} Book
            </button>
        </mat-card-actions>
    </mat-card>
</form>